@model Assignment.Models.Book

<form method="post" asp-controller="Book" asp-action="Edit">
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input class="form-control" asp-for="@Model.Name" />
        <span class="text-danger" asp-validation-for="@Model.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Price"></label>
        <input class="form-control" asp-for="@Model.Price" />
        <span class="text-danger" asp-validation-for="@Model.Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description"></label>
        <input class="form-control" asp-for="@Model.Description" />
        <span class="text-danger" asp-validation-for="@Model.Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Edition"></label>
        <input class="form-control" asp-for="@Model.Edition" />
        <span class="text-danger" asp-validation-for="@Model.Edition"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Img"></label>
        <img src="@Model.Img" width="100" height="100" />
        <input class="form-control mt-3" asp-for="@Model.Img" />
        <span class="text-danger" asp-validation-for="@Model.Img"></span>
    </div>
   
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <select class="list-group-item" asp-for="@Model.CategoryID" asp-items="@(new SelectList(ViewBag.Category,"Id","Name"))">
            <option>Select a university</option>
        </select>
        <span class=" text-danger" asp-validation-for="@Model.CategoryID"></span>
    </div> 
    <div class=" form-group">
        <input type="submit" class="btn btn-primary" value="Edit" />
    </div>
</form>